@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-base-100: rgb(255, 255, 255);
  --color-base-200: rgb(245, 245, 247);
  --color-base-300: rgb(220, 220, 225);
  --color-primary: rgb(0, 32, 95);
  --color-secondary: rgb(230, 159, 80);
  --color-accent: rgb(60, 75, 95);
}

/* headings font */
.poppins {
  font-family: "Poppins", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
.active {
  @apply bg-primary text-white;
}
