@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marcellus&display=swap');

@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-base-100: rgb(255, 255, 255);
  --color-base-200: rgb(245, 245, 247);
  --color-base-300: rgb(220, 220, 225);
  --color-primary: rgb(0, 32, 95);
  --color-secondary: rgb(224, 145, 54);
  --color-accent: rgb(83, 83, 83);
}

/* headings font */
.marcellus {
  font-family: "Marcellus", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
.active {
  @apply bg-primary text-white;
}
